---
import BackgroundSection from "../components/BackgroundSection.astro";
import ProductShowcase from "../components/ProductShowcase.astro";
import TitleLogo from "../components/TitleLogo.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/common.css";
import "../styles/product-pages.css";
---

<Layout title="INNEDIT - FLVWER">
    <div class="product-page flvwer"> <!-- Movemos la clase aquí para que abarque todo, incluyendo BackgroundSection -->
        <BackgroundSection>
            <div class="page-content">
                <TitleLogo subtitle="FLVWER" />
                <div class="product-container">
                    <ProductShowcase
                        productImage="FLVWER.webp"
                        productAlt="Gorra FLVWER"
                    />
                </div>
                <div class="product-text animate-fade-in">ESTE PRODUCTO ES ORIGINAL</div>
                <div class="social-icons">
                    <a href="https://inneditclub.com/password" class="social-icon animate-bounce">
                        <img src="SITIO_WEB.webp" alt="Website" />
                    </a>
                    <a href="https://www.tiktok.com/@inneditmx" class="social-icon animate-bounce">
                        <img src="tiktok.webp" alt="TikTok" />
                    </a>
                    <a href="https://www.instagram.com/innedit.mx/" class="social-icon animate-bounce">
                        <img src="INSTA.webp" alt="Instagram" />
                    </a>
                </div>
            </div>
        </BackgroundSection>
    </div>
</Layout>