---
export interface Props {
    title?: string;
}

const { title = "INNEDIT - MURATRAVIS UTOPIA" } = Astro.props;
---

<!doctype html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{title}</title>
        <link rel="icon" type="image/x-icon" sizes="32x32" href="/logos/Inside_logo.ico" />
        <link rel="icon" type="image/x-icon" sizes="48x48" href="/logos/Inside_logo.ico" />
        <link rel="icon" type="image/x-icon" sizes="16x16" href="/logos/Inside_logo.ico" />
        <link rel="apple-touch-icon" sizes="180x180" type="image/png" href="/logos/Inside_logo.png" />
        <link rel="shortcut icon" type="image/x-icon" href="/logos/Inside_logo.ico" />
        <meta name="description" content="INNEDIT Collection" />
        <style>
            @font-face {
                font-family: "Alte Haas Grotesk";
                src: url("/fonts/AlteHaasGroteskRegular.ttf") format("truetype");
                font-weight: normal;
                font-style: normal;
                font-display: swap;
            }

            @font-face {
                font-family: "Alte Haas Grotesk";
                src: url("/fonts/AlteHaasGroteskBold.ttf") format("truetype");
                font-weight: bold;
                font-style: normal;
                font-display: swap;
            }

            body,
            html {
                margin: 0;
                padding: 0;
                height: 100%;
                width: 100%;
                overflow-x: hidden;
                background-color: black;
                scroll-behavior: smooth;
            }

            ::selection {
                background: rgba(255, 255, 255, 0.2);
                color: white;
            }
        </style>
    </head>
    <body>
        <slot />
    </body>
</html>