---
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>INNEDIT - MURATRAVIS UTOPIA</title>
		<!-- Favicons - Con rutas absolutas y mayor prioridad -->
		<link rel="icon" type="image/x-icon" sizes="32x32" href="Inside_logo.ico" />
		<link rel="icon" type="image/x-icon" sizes="48x48" href="Inside_logo.ico" />
		<link rel="icon" type="image/x-icon" sizes="16x16" href="Inside_logo.ico" />
		<link rel="apple-touch-icon" sizes="180x180" type="image/png" href="/Inside_logo.png" />
		<link rel="shortcut icon" type="image/x-icon" 	   href="Inside_logo.ico" />
		<style>
			@font-face {
				font-family: "Alte Haas Grotesk";
				src: url("/fonts/AlteHaasGroteskRegular.ttf")
					format("truetype");
				font-weight: normal;
				font-style: normal;
			}

			@font-face {
				font-family: "Alte Haas Grotesk";
				src: url("/fonts/AlteHaasGroteskBold.ttf")
					format("truetype");
				font-weight: bold;
				font-style: normal;
			}

			body,
			html {
				margin: 0;
				padding: 0;
				height: 100%;
				width: 100%;
				overflow-x: hidden;
				background-color: black;
			}
		</style>
	</head>
	<body>
		<slot />
	</body>
</html>